body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.text-highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half_width img{
    width: 100%;
}