body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.text-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.header-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-transform: uppercase;
    background-image: linear-gradient( to right, lightsalmon, tomato);
    text-decoration: none;
    padding: 8px 25px;
    color: aliceblue;
    font-weight: 400;
    border-radius: 5px;
}
.dream-area{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}